{% extends "main_app/base.html" %} <!-- Или твой основной шаблон -->
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Сброс пароля</h3>
                    <p>Введите ваш email, и мы отправим инструкцию по сбросу пароля.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Отправить письмо</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}